.signup-header {
    margin: 0;
    height: 69px;
    width: 191px;
    padding-left: 20px;
    padding-top: 40px;
    text-align: left;
    font: normal normal 500 28px/36px Rubik;
    letter-spacing: 0px;
    color: #1D2226;
}

.form-element-first {
    padding-top: 22px;
    padding-left: 7px;
}

.form-element {
    padding-top: 12px;
    padding-left: 7px;
}

.input-wrapper {
    position: relative;
}
  
input {
    border: 1px solid #CBCBCB;
    border-radius: 6px;
    position: relative;
    height: 40px;
    width: 335px;
    margin: 10px;
    line-height: 6ex;
    color: #1D2226;
    background-color: #F7F8F9;
    text-indent: 17px;
    font: normal normal normal 14px/17px Rubik;
}
  
label {
    font: normal normal normal 13px/17px Rubik;
    position: absolute;
    top: 0.2ex;
    z-index: 1;
    left: 2em;
    background-color: #F7F8F9;
    padding: 0 5px;
}

.form-radio {
    width: 100%;
    position: static;
    display: block;
}

.form-label {
    color: #6C25FF;
}

.form-label-mandatory {
    color: #DD4A3D;
}

.form-byline {
    padding-left: 20px;
    font: normal normal normal 13px/17px Rubik;
}

.radio-group {
    display: flex;
    gap: 20px;
    
    align-items: center;
}

.radio-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.radio-container input {
    position: absolute;
    opacity: 0; 
    cursor: pointer;
}

.custom-radio {
    width: 22px;
    height: 22px;
    border: 2px solid #6C25FF; 
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
}

.radio-container input:checked + .custom-radio::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 12px;
    height: 12px;
    background-color: #6C25FF; 
    border-radius: 50%;
}

.radio-container .label {
    margin-left: 8px;
    font: normal normal normal 14px/17px Rubik;
    color: #1D2226;
    user-select: none; 
}

.radio-container:hover .custom-radio {
    border-color: #642AF5;
}

.signup-create {
    background: #6C25FF 0% 0% no-repeat padding-box;
    margin-top: 170px;
    margin-left: 20px;
    text-align: center;
    font: normal normal 500 16px/17px Rubik;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    text-decoration: none;
}
  
